<app-navbar></app-navbar>
<div class="container">
    <app-job-form (addJobFromChild)= "addJobToTheList($event)"></app-job-form>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Job Title</th>
            <th scope="col">Job Description</th>
            <th scope="col">Job Eligibility</th>
            <th scope="col">Job Role</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let job of (jobs |async)" app-job [job] = "job"></tr>
        </tbody>
      </table>
</div>
<app-footer></app-footer>