<form>
    <div class="form-group">
      <label for="jobTitle">Job Title</label>
      <input type="text" #jobTitle class="form-control" id="jobTitle" aria-describedby="jobHelp" placeholder="Enter JobTitle">
    </div>
    <div class="form-group">
      <label for="jobDescription">Job Description</label>
      <input type="text" #jobDesc class="form-control" id="jobDescription" placeholder="Enter Job Description">
    </div>
    <div class="form-group">
      <label for="eligibility">Eligibility</label>
      <input type="number" #eligibility class="form-control" id="eligibility" placeholder="eligibility">
    </div>
    <button class="btn btn-success" (click)= "addJob($event, jobTitle.value, jobDesc.value, eligibility.value)">Add this job to the list</button>
  </form>
  <!-- addJob($event, jobTitle, jobDesc, eligibility) -->